<div class="border-bottom border-1 border-dark">
    <div class="container py-md-5">
            <div class="row">
              <div class="col-12 col-lg-6 text-center text-md-start py-1">                  
                <h1 class="display-1">Tech talk.</h1>
                <p class="fs-4 lh-1 text-muted fw-bolder pb-4">Lorem ipsum dolor sit amet.</p>
                <button type="button" class="btn btn-dark rounded-pill fw-500 fs-5 px-4">Learn more</button>
              </div>
              <div class="col">
                Column
              </div>
            </div>
    </div>
</div>  